<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
<style type="text/css">
	body{
		background-color:#bbaaff;;
	}
</style>
</head>
<body>
<h2 style="background-color: white;"> Enter the Name and Password</h2><br>
		<form action="/login1", method = "post">

			<input type="text" name="NAME" placeholder="NAME" required = ""><br><br>
			<input type="email" name="EMAIL" placeholder="EMAIL" required = ""><br><br>
			<button>Login</button>
			<button>Submit</button>
<button>Cancel</button>
<button>Reset</button>
			
		</form>
</body>
</html>